.partners-section {
    padding-top: rem(78px);
    padding-bottom: rem(50px);

    @include phones {
        padding-top: rem(37px);
        padding-bottom: rem(30px);
    }
}
 
.partners-section__title {
    font-weight: normal;
    text-align: center;
    font-size: rem(24px);
    margin-bottom: rem(46px);

    @include phones {
        font-size: rem(21px);
        margin-bottom: rem(28px);
    }
}

.partners__list {
    display: flex;
    justify-content: space-between;
    
    @include phones {
        flex-wrap: wrap;
    }
}

.partners__item {
    width: 15%;
    padding-top: rem(115px);position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
    }

    &:first-child {
        &::before {
            width: rem(109px);
            height: rem(88px);
            background: url(../img/icon-1.png) center center no-repeat;
            left: 50%;
            transform: translateX(rem(-54px));
        }
    }
    &:nth-child(2) {
        &::before {
            width: rem(76px);
            height: rem(88px);
            background: url(../img/icon-3.png) center center no-repeat;
            left: 50%;
            transform: translateX(rem(-38px));
        }
    }
    &:nth-child(3) {
        &::before {
            width: rem(97px);
            height: rem(88px);
            background: url(../img/icon-4.png) center center no-repeat;
            left: 50%;
            transform: translateX(rem(-48px));
        }
    }
    &:nth-child(4) {
        &::before {
            width: rem(148px);
            height: rem(88px);
            background: url(../img/icon-5.png) center center no-repeat;
            left: 50%;
            transform: translateX(rem(-74px));
        }
    }
    &:nth-child(5) {
        &::before {
            width: rem(116px);
            height: rem(88px);
            background: url(../img/icon-6.png) center center no-repeat;
            left: 50%;
            transform: translateX(rem(-58px));
        }
    }
    &:last-child {
        &::before {
            width: rem(110px);
            height: rem(88px);
            background: url(../img/icon-7.png) center center no-repeat;
            left: 50%;
            transform: translateX(rem(-55px));
        }
    }

    @include phones {
        width: 46%;
        padding-top: rem(108px);
        position: relative;
    }
}

.partners-item__title {
    font-size: rem(12px);
    text-align: center;

    @include phones {
        margin-bottom: rem(10px);
    }
}